@media screen and (min-width: 620px) {

  h1 {
    font-size: 3.5rem;
  }

  nav ul li {
    display: inline-block;
  }

  .technologies,
  .experience,
  .education {
    float: left;
    width: 100%;
  }

  .left {
    width: 35%;
    float: left;
  }

  .right {
    width: 65%;
    float: right;
  }

  .left-ul {
    width: 50%;
    float: left;
  }

  .right-ul {
    width: 50%;
    float: right;
  }



}
